@import "mixins"
@import "variables"

*
  remove-default()

body 
  background: url(https://lolstatic-a.akamaihd.net/lolkit/1.1.6/resources/images/bg-default.jpg) no-repeat center;
  background-attachment: fixed;

/*  加一層深色 */
.container 
  background-color: cover
  min-height 100vh
  padding-top 30px
  padding-bottom 200px

.streamers-container 
  width row
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;

/* streamer */
.streamer 
  display: grid;
  grid-template-columns eachBox
  transition: all 0.5s;

.streamer:hover 
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
  filter: brightness(150%);
  cursor: pointer;

.thumbnail 
  width: fillBoxWidth
  height: 150px;

.streamer-info 
  display: flex;
  gap: 10px;
  width: fillBoxWidth
  padding: 10px;
  background-color: black;
  opacity: 0.5;

.profile-photo 
  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 50%;
  overflow: hidden;

.stream-name 
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 200px;

/* 讓過長標題省略 */
.channel 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

